@model CourseIndexViewModel

@{
    ViewData["Title"] = "Courses";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

        <p class="govuk-body-l">
            This application samples the courses list.
        </p>
        <p class="govuk-body">
            Use this function to view the courses sample:
        </p>

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                Courses
            </legend>

            @if (Model.Courses == null || !Model.Courses.Any())
            {
                <p><i>No results match your search</i></p>
            }
            else
            {
                <table class="govuk-table">
                    <caption class="govuk-table__caption">Courses List</caption>

                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">
                                @Html.LabelFor(model => model.Courses.FirstOrDefault().Title)
                            </th>
                            <th class="govuk-table__header" scope="col">
                                @Html.LabelFor(model => model.Courses.FirstOrDefault().Description)
                            </th>
                            <th class="govuk-table__header" scope="col">
                                @Html.LabelFor(model => model.Courses.FirstOrDefault().City)
                            </th>
                            <th class="govuk-table__header" scope="col">
                                @Html.LabelFor(model => model.Courses.FirstOrDefault().Start)
                            </th>
                            <th class="govuk-table__header" scope="col">
                                @Html.LabelFor(model => model.Courses.FirstOrDefault().MaxAttendeeCount)
                            </th>
                            <th class="govuk-table__header" scope="col">
                                @Html.LabelFor(model => model.Courses.FirstOrDefault().Category)
                            </th>
                            <th class="govuk-table__header" scope="col">Action</th>
                        </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                        @foreach (var course in Model.Courses)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <span>@course.Title</span>
                                </td>
                                <td class="govuk-table__cell">
                                    <span>@course.Description</span>
                                </td>
                                <td class="govuk-table__cell">
                                    <span>@course.City</span>
                                </td>
                                <td class="govuk-table__cell">
                                    <span>@course.Start.ToShortDateString()</span>
                                </td>
                                <td class="govuk-table__cell">
                                    <span>@course.MaxAttendeeCount</span>
                                </td>
                                <td class="govuk-table__cell">
                                    <span>@course.Category</span>
                                </td>
                                <td class="govuk-table__cell">
                                    @Html.ActionLink("Edit", "Edit", new { id = course.Id }, new { @class = "govuk-link my-govuk-link" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </fieldset>

    </div>
</div>
