@model PageViewModelResponse

@{
    Layout = Model.LayoutName;
    @using DFC.Composite.Shell.Models.Common;
    string BrandingAssetsFolder = $"{Model.BrandingAssetsCdn}/{Constants.NationalCareersToolkit}";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <partial name="_GoogleTagManagerScripts" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="@(BrandingAssetsFolder)/images/govuk-opengraph-image.png">
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="@(BrandingAssetsFolder)/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="@(BrandingAssetsFolder)/images/govuk-icon-mask.svg" color="blue">
    <link rel="icon" sizes="180x180" href="@(BrandingAssetsFolder)/images/govuk-icon-180.png">
    <link rel="icon" sizes="192x192" href="@(BrandingAssetsFolder)/images/govuk-icon-192.png">
    <link rel="icon" sizes="512x512" href="@(BrandingAssetsFolder)/images/govuk-icon-512.png">
    <link rel="apple-touch-icon" sizes="180x180" href="@(BrandingAssetsFolder)/images/govuk-icon-180.png">
    <link href="@(BrandingAssetsFolder)/css/all.min.css" rel="stylesheet" type="text/css" />
    <title>@Model.PageTitle</title>
</head>

<body class="govuk-template__body ">
    <header class="govuk-header " role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <a href="/" class="govuk-header__link govuk-header__link--service-name">
                National Careers Service
            </a>
        </div>
    </header>

    <section aria-label="PhaseBanner">
        <div class="govuk-width-container">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">Error</li>
                </ol>
            </div>
        </div>
    </section>

    <main class="govuk-!-padding-top-0 govuk-!-padding-bottom-0" id="main-content" role="main">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="content-container">
                        <h2 class="govuk-heading-l">Sorry, there is a problem with this service</h2>
                        <p>Please try again later.</p>
                    </div>
               </div>
            </div>
        </div>
    </main>
</body>

