<!DOCTYPE html>
<html lang="en-gb" class="govuk-template ">

<head>
    <partial name="_Head" />

    @if (IsSectionDefined("Head"))
    {
        @RenderSection("Head", required: false)
    }

    @await Component.InvokeAsync("AppInsights", null)
</head>

<body class="govuk-template__body ">
    <partial name="_GovUkHeader" />

    <partial name="_AppHeaders" />

    <main class="govuk-main-wrapper" id="main-content" role="main">

        <partial name="_ErrorSummary" />

        @if (IsSectionDefined("BodyTop"))
        {
            <div class="govuk-width-container">
                @RenderSection("BodyTop", required: false)
            </div>
        }

        @if (IsSectionDefined("HeroBanner"))
        {
            @RenderSection("HeroBanner", required: false)
        }

        <div class="govuk-width-container">
            @if (IsSectionDefined("Breadcrumb"))
            {
                @RenderSection("Breadcrumb", required: false)
            }

            @if (IsSectionDefined("Body"))
            {
                @RenderSection("Body", required: false)
            }

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    @if (IsSectionDefined("Body"))
                    {
                        @RenderSection("Body", required: false)
                    }
                </div>

                <div class="govuk-grid-column-one-third">
                    @if (IsSectionDefined("SideBarRight"))
                    {
                        @RenderSection("SideBarRight", required: false)
                    }
                </div>
            </div>

            @RenderBody()

            @{
                if (IsSectionDefined("SideBarLeft"))
                {
                    IgnoreSection("SideBarLeft");
                }
            }

            @if (IsSectionDefined("BodyFooter"))
            {
                @RenderSection("BodyFooter", required: false)
            }

        </div>
    </main>

    <partial name="_GovUkFooter" />

    <partial name="_JQueryInitialise" />

    @RenderSection("Scripts", required: false)
</body>
</html>