<!DOCTYPE html>
<html lang="en-gb" class="govuk-template ">

@{
    string Branding = ViewData["Branding"].ToString();
    string BrandingAssetsCdn = ViewData["BrandingAssetsCdn"].ToString();

    string BrandingAssetsFolder = $"{BrandingAssetsCdn}/{Branding.ToLower()}_assets";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c" />

    <title>@ViewData["Title"]</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="@(BrandingAssetsFolder)/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="@(BrandingAssetsFolder)/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="@(BrandingAssetsFolder)/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="@(BrandingAssetsFolder)/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="@(BrandingAssetsFolder)/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="@(BrandingAssetsFolder)/assets/images/govuk-apple-touch-icon.png">

    <!--[if !IE 8]><!-->
    <link href="@(BrandingAssetsFolder)/@(Branding).min.css" rel="stylesheet" />
    <!--<![endif]-->
    <!--[if IE 8]>
      <link href="@(BrandingAssetsFolder)/@(Branding)-ie8.min.css" rel="stylesheet" />
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="~/html5-shiv/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="~/css/site.css" />

    <meta property="og:image" content="@(BrandingAssetsFolder)/assets/images/govuk-opengraph-image.png">

    @if (IsSectionDefined("Head"))
    {
        @RenderSection("Head", required: false)
    }
</head>

<body class="govuk-template__body ">
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <partial name="_GovUkHeader" />

    <div class="govuk-width-container">

        <partial name="_PhaseBanner" />

        <partial name="_ErrorSummary" />

        @if (IsSectionDefined("BodyTop"))
        {
            @RenderSection("BodyTop", required: false)
        }

        <main class="govuk-main-wrapper" id="main-content" role="main">

            @if (IsSectionDefined("Breadcrumb"))
            {
                @RenderSection("Breadcrumb", required: false)
            }

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third CompositeUI-RegionScrollX">
                    @if (IsSectionDefined("SideBarLeft"))
                    {
                        <div class="CompositeUI-Region">
                            @RenderSection("SideBarLeft", required: false)
                        </div>
                    }
                </div>

                <div class="govuk-grid-column-two-thirds">
                    @if (IsSectionDefined("Body"))
                    {
                        <div class="CompositeUI-Region CompositeUI-RegionScrollX">
                            @RenderSection("Body", required: false)
                        </div>
                    }
                </div>
            </div>

            @RenderBody()

            @{
                if (IsSectionDefined("SideBarRight"))
                {
                    IgnoreSection("SideBarRight");
                }
            }

        </main>

        @if (IsSectionDefined("BodyFooter"))
        {
            @RenderSection("BodyFooter", required: false)
        }

    </div>

    <partial name="_GovUkFooter" />

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/jquery.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
    </environment>

    <script src="@(BrandingAssetsFolder)/@(Branding).min.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>

    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
