@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en-gb" class="govuk-template ">

<head>
    <partial name="_Head" />

    @if (IsSectionDefined("Head"))
    {
        @RenderSection("Head", required: false)
    }

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>

<body class="govuk-template__body ">
    <partial name="_jsEnabled" />

    <partial name="_GovUkHeader" />

    <div class="govuk-width-container">

        <partial name="_PhaseBanner" />

        <partial name="_ErrorSummary" />

        @if (IsSectionDefined("BodyTop"))
        {
            @RenderSection("BodyTop", required: false)
        }

        <main class="govuk-main-wrapper" id="main-content" role="main">

            @if (IsSectionDefined("Breadcrumb"))
            {
                @RenderSection("Breadcrumb", required: false)
            }

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    @if (IsSectionDefined("Body"))
                    {
                        <div class="CompositeUI-Region">
                            @RenderSection("Body", required: false)
                        </div>
                    }
                </div>
            </div>

            @RenderBody()

            @{
                if (IsSectionDefined("SideBarLeft"))
                {
                    IgnoreSection("SideBarLeft");
                }
                if (IsSectionDefined("SideBarRight"))
                {
                    IgnoreSection("SideBarRight");
                }
            }

        </main>

        @if (IsSectionDefined("BodyFooter"))
        {
            @RenderSection("BodyFooter", required: false)
        }

    </div>

    <partial name="_GovUkFooter" />

    <partial name="_JQueryInclude" />

    <partial name="_JQueryInitialise" />

    @RenderSection("Scripts", required: false)
</body>
</html>
